<% @users.all.each do |user| %>
  <p><%= user.email %></p>
  <p><%= button_to 'Request', new_friendships_path, params: {:friendship => {:accepted => true}} method: :patch%></p>
  <p><%= button_to 'Accept', friendships_path, params: {:friendship => {:accepted => true}} method: :patch%></p>
  <p><%= button_to 'Reject', friendships_path, params: {:friendship => {:accepted => false}} method: :destroy%></p>
<% end %>
